
@{
    ViewData["Title"] = "Home Page";
}

<br><br><br>
<h2>omg</h2>

@{
    <p>Welcome to the website</p>
    <p>This is your visit number: @ViewData["Count"]</p>
    <p>Your ip address is: @ViewData["IP"]</p>
    <p class="timezone">Your timezone is: </p>
}


<br><br><br>

