@{
    ViewData["Title"] = "About";
}
<div class="container body-content">

    <br/><br/><br/><br/>
    <h3>Shop till you drop</h3>
    Sign In or Log In.

    <form asp-controller="Home" asp-action="GetUser" >
        <br/>
        Name: <input type="text" name="name" /> 
        <br/>
        Password: <input type="text" name="password"  />

        <input type="submit" class="button orange" />
    </form>
        
</div>