@{
    ViewData["Title"] = "About";
}
<div class="container body-content">

    <br/><br/><br/><br/>
    <h3>Shop till you drop</h3>
    Sign or Log In.

    <form asp-controller="Home" asp-action="GetUser" >
        <br/>
        <input placeholder="Name" type="text" name="name" /> 
        <br/>
        <input placeholder="Password" type="password" name="password"  />

        <button type="submit" class="button orange">Login</button>
    </form>
        
</div>