@model part2.Models.slideshow

@{
    ViewData["Title"] = "Home Page";
}

<div id="imageCarousel" class="carousel slide" data-interval="2000" data-ride="carousel" data-pause="hover" data-wrap="true">  
  
    <div class="carousel-inner">
        @foreach(var item in Model.slideshowitems){
            <div class="item"> 
                <img src="@Url.Content(item.src)" class="img-responsive">  
                <div class="carousel-caption">  
                    <h5>@item.caption</h5>  
                </div>  
            </div>  
        }
    </div>  

    <a href="#imageCarousel" class="carousel-control left" data-slide="prev">  
        <span class="glyphicon glyphicon-hand-left"></span>  
    </a>  
    <a href="#imageCarousel" class="carousel-control right" data-slide="next">  
        <span class="glyphicon glyphicon-hand-right"></span>  
    </a>  
</div> 

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <div class="row center">
            <div class="container" style="max-width: 500px;">
                <button onclick="startstop()">start/stop</button>, you can also pause by hovering over the image
                <br>
                <button onclick="backwardforward()" id="backwardforward">forward/backward</button> 
                <br>
                <p><label for="test5">carousel in a sequence</label><input type="checkbox" checked id="test5" onchange="randomizersequencer()" /></p>
            </div>
        </div>
    </div>
</div>
