@{
    ViewData["Title"] = "About";
}
<div class="container body-content">

<h2>Feedback form</h2>
<h3>How can we improve?</h3>

<form>
    is this feedback related to a specific product or the web store?
        
    <input type="radio" name="gender" value="specific product" checked /> specific product
    slkdfj
        
    <input type="checkbox" name="gender" value="web store" />web store

    asdf
    <input type="text" />

</form>
    
<p>Use this area to provide additional information.</p>

</div>