@model part3.Models.ProductItem

@{
    var item = ViewData["item"] as ProductItem;
    ViewData["Title"] = item.name + " Page";
}

<div class="row product">
    <div class="col s3 image-side"><i class="material-icons large">flash_on</i></div>
    <div class="col s9 content-side">
        <b>@item.name</b><br>
        <div class="chip">$@item.price</div>
        <p>@item.description</p>
        @{
            if (@ViewData["isComp"] != null) {
                <button>Edit the Computer</button>
            }
        }
        <button>Add to ze Cart!!</button>
    </div>
</div>
<div class="row reviews"></div>